@using Microsoft.AspNetCore.Identity

@model List<IdentityUser>

    <h1>Administrar usuarios</h1>

<div class="lista-usuarios">
    @foreach (var i in Model)
    {
        <div class="fila-usuario">
            <span class="email-usuario">@i.Email</span>

            @if (i.LockoutEnd != null && i.LockoutEnd > DateTimeOffset.Now)
            {
                <a href="/Admin/Desbloquear?id=@i.Id" class="btnDesbloquear">Desbloquear</a>
            }
            else
            {
                <a href="/Admin/Bloquear?id=@i.Id" class="btnBloquear">Bloquear</a>
            }
        </div>
    }
</div>
