<h1>Hola, aquí puedes añadir tus libros/peliculas/discos</h1>

<form  method="post">
    <label>Tipo</label>
    <input name="tipo"></input>  
    <label>Título</label>
    <input name="titulo"></input>
    <label>Autor</label>
    <input name="autor"></input>
    <label>Descripción</label>
    <input name="descripcion"></input> 
    <label>Año</label>
    <input name="anio"></input>
    <input type="submit" name="enviar" value="Enviar" />
</form>