<h1>Hola, aquí puedes añadir tus libros/peliculas/discos</h1>

@if (TempData["Error"] != null)
{
    <script>
        alert('@TempData["Error"]');
    </script>
}

<form method="post" class="formulario-filtro-anyadir">
    <label>Tipo</label>
    <select name="tipo">
        <option value="">Seleccione un tipo</option>
        <option value="Libro">Libro</option>
        <option value="Musica">Música</option>
        <option value="Pelicula">Película</option>
        <option value="Comic">Cómic</option>
    </select>
    
    <label>Título</label>
    <input name="titulo">
    
    <label>Autor</label>
    <input name="autor">
    
    <label>Descripción</label>
    <input type="text" name="descripcion"> 
    
    <label>Año</label>
    <select name="anio">
        <option value="">Seleccione un año</option>
        @for (int year = DateTime.Now.Year; year >= 1800; year--)
        {
            <option value="@year">@year</option>
        }
    </select>
    
    <input type="submit" name="enviar" value="Enviar" class="boton-primario" />
</form>
